<div class="tree-select">
    <div class="tree-select-content">
        <div class="top">
            <p class="header">{{data?.header}}</p>
            <i class="material-icons arrow" (click)="onClickOpen()" [ngClass]="(isOpen) ? 'open':'close'">
                keyboard_arrow_down
            </i>
        </div>
        <div class="child-content" *ngIf="isOpen">
            <mat-radio-group aria-label="Select an option" [formControl]="valueControl">
                <mat-radio-button [value]="child?.id" *ngFor="let child of data?.childrens;let ind=index"> {{child?.label}}</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
</div>