.tree-select {
  padding:25px;
  &-content {
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .header {
      }
      .arrow {
        cursor: pointer;
        transition: all 0.5s;
      }
    }
    .child-content {
      margin-left: 50px;
      mat-radio-button{
        padding:0.5em;
        display: block;
      }
    }
  }
}

.open {
  transform: rotate(180deg);
}

.close {
  transform: rotate(0);
}
