<section class="questions_section">
    <div class="question">
        <button class="button question_button"><span class="label">Add</span></button>
            <div class="content">
                   <app-question-item></app-question-item>
                   <app-question-item></app-question-item>
                   <app-question-item></app-question-item>
                   <app-question-item></app-question-item>
                   <app-question-item></app-question-item>
            </div>
        </div>
</section>