<section class="question_detail_section">
    <div class="container">
        <div class="question_detail">
            <div class="question_datails_content">
                <form class="question_datails_form" [formGroup]="questionForm" (ngSubmit)="save()">
                    <div class="form_group">
                        <label class="form_group_label">Question</label>
                        <textarea class="form_group_input textarea" formControlName="question" type="text">
                        </textarea>
                    </div>
                    <button type="button" class="button question_datail_button" (click)="onClickAdd()"><span
                            class="label">Add</span></button>
                            <div class="answer_form_content">
                    <div class="form_group" *ngFor="let answer of answersControl;let ind=index">
                        <label class="form_group_label">Answer {{ind+1}}</label>
                        <div class="answer_form">
                            <input class="form_group_input answer_input" type="text" [formControl]="answer">
                            <button class="button btn_delete_answer" (click)="onClickRemoveAnswer(ind)">
                                <span class="label">
                                    <i class="material-icons">
                                        delete
                                    </i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                    <div class="form_button">
                        <button class="button btn_save" type="submit"><span class="label">Save</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>