//variables
$transition-duration: 0.5s;

* {
  outline: none;
}
body {
  min-width: 900px;
  font-family: "Roboto", sans-serif;
}

.form_group {
  width: 100%;
  &_label {
    width: 100%;
    color: #3a73b1;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
  }
  &_input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);
  }
}

.width-fit {
  width: fit-content;
}

.button {
  padding: 15px 60px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #295e96;
  background: #ffffff;
  color: #295e96;
  display: block;
  font-size: 20px;
  font-weight: bold;
  transition: $transition-duration;
  &_label {
    color: inherit;
  }
  &:hover {
    color: #ffffff !important;
    background: #295e96 !important;
    border-color: #ffffff !important;
  }
  text-decoration: none;
}

button:disabled {
  opacity: 0.5 !important;
}

.button-center{
  margin:0 auto;
}

.full-width{
  width: 100%;
}

.container {
  width: 75%;
  margin: auto;
}
.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
