<div class="question_detail_item">
    <div class="question_datails_item_content">
        <div class="question_datails_item_form">
            <div class="form_group">
                <label class="form_group_label">Question</label>
                <textarea class="form_group_input textarea" disabled [value]="question?.question" type="text">
                        </textarea>
            </div>
            <mat-radio-group aria-label="Select an option" [formControl]="selectedValue">
                <div class="answer_form_content">
                    <div class="form_group">
                        <label class="form_group_label">Answer</label>
                        <div class="answer_form" *ngFor="let item of question?.question_answer">
                            <input class="form_group_input answer_input" type="text" [value]="item?.answer" disabled>
                            <div class="radio_button">
                                <mat-radio-button class="example-radio-button" [name]="'question'+questionIndex"
                                    [value]="item?.id">
                                </mat-radio-button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-radio-group>
        </div>
    </div>
</div>