.question_detail_item_section {
    width: 100%;
  
    .question_detail_item {
      display: flex;
      width: 100%;
  
      .question_datails_item_content {
        width: 100%;
        margin: 100px auto;
        display: block;
  
        .question_datails_item_form {
          width: 75%;
          margin: auto;
          padding: 30px 0;
          max-width: 800px;
          .top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            
          }
          .textarea {
            max-width: 100%;
            min-width: 100%;
            max-height: 250px;
            min-height: 250px;
          }
  
          .question_datail_button {
            padding: 15px 30px !important;
          }
  
          .answer_form_content {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            .form_group {
              width: 100%;
              .answer_form {
                width: 100%;
                display: flex;
  
                .radio_button {
                  padding: 10px 20px;
                  margin-top: 8px;
                  margin-bottom: 8px;
                  border: none;
                  border-radius: 4px;
                  box-shadow: 0px 1px 7px 2px rgba(0, 0, 0, 0.33);
                 border: 1px solid #ccc;
                  display: flex;
                  align-items: center;
                }
              }
            }
          }
  
          .form_button {
            padding: 50px 0;
            display: flex;
  
            .btn_save {
              margin: auto;
            }
          }
        }
      }
    }
  }
  