@import "../../../../../../assets/scss/mixins";

.question_item{
    padding: 1.2em;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);
    align-items: center;
    text-align:center;
    background: #007bff;
    margin: 20px;
    height: 100px;
    display: flex;
    .question_title{
        @include text();
    }
}

