<div class="left_menu" [ngClass]="{'openMenu':menuService.getOpenMenu(),'closeMenu':!menuService.getOpenMenu()}" slidenav-position>
    <div class="left_menu_content">
        <nav class="menu">
            <ul>
                <li class="menu_item" *ngFor="let item of menuItem" routerLinkActive="active_link"
                    [routerLink]='item.routerLink'>
                    <p class="menu_title">{{item.title}} </p>
                    <i class="material-icons">
                        {{item.icon}}
                    </i>
                </li>
                <li class="menu_item" (click)="logOut()">
                    <p class="menu_title">Log Out </p>
                    <i class="material-icons">
                        exit_to_app
                    </i>
                </li>
            </ul>
        </nav>
    </div>
</div>