@import "../../../../../../assets/scss/global";

.left_menu {
    width: 250px;
    height: 100%;
    -webkit-transition: left 0.5s !important;
    box-shadow: 0 13px 26px 0 rgba(0, 0, 0, 0.24);
    position: fixed;
    background: #ffffff;
    .menu{
        .menu_item{
            padding: 15px 15px;
            background: #3a73b1;
            text-align: center;
            align-items: center;
            display: flex;
            justify-content: space-between;
            border: 1px solid #b8b8b8;
            cursor: pointer;
            color: #ffffff;
            transition: $transition-duration;
            .menu_title{
                font-size: 20px;
                font-family: 'Roboto', sans-serif;
            }
            &:hover{
             border-color: #295e96!important;
             background: #ffffff !important;
             color: #295e96 !important;
            }
         }
    }
  
}


.openMenu {
    left: 0 !important;
    transition: all 0.5s;
}

.closeMenu {
    left: -200px !important;
    transition: all 0.5s;
}

.active_link{
    background: #295e96 !important;
}